<header class="header">
  <nav class="navbar">
    <a href="#" class="nav-logo">Hospital</a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="/patientRegister" class="nav-link">PatientRegister</a>
      </li>
      <li class="nav-item">
        <a href="/patientReport" class="nav-link">SearchPatient</a>
      </li>
      <li class="nav-item">
        <a href="/patientLogin" class="nav-link">PatientLogin</a>
      </li>
      <li class="nav-item">
        <a href="/generate" class="nav-link">GenerateReport</a>
      </li>
      <li class="nav-item">
        <a href="/diagnosis" class="nav-link">Diagnosis</a>
      </li>
      <li class="nav-item">
        <a href="/remarks" class="nav-link">Remarks</a>
      </li>
      <li class="nav-item">
        <a href="/fullReport" class="nav-link">PatientFullReport</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
