<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cancer Hospital</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <section class="contact" id="contact-us">
      <div class="contactBx">
        <h1 class="contHeading">Hospital Login</h1>
        <form autocomplete="off" action="/" class="form" method="POST">
          <div class="inputBx">
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
            />
          </div>
          <div class="inputBx">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="inputBx">
            <input type="submit" value="Login" />
          </div>
        </form>
      </div>
    </section>

    <!-- footer -->

    <section class="footer">
      <p class="text">Design & Developed By Prakhyat Jha</p>
    </section>
  </body>
</html>
