<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cancer Hospital</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <section class="contact" id="contact-us">
      <div class="contactBx">
        <h1 class="contHeading">Hospital Login</h1>
        <form autocomplete="off" action="/" class="form" method="POST">
          <div class="inputBx">
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
            />
          </div>
          <div class="inputBx">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="inputBx">
            <input type="submit" value="Login" />
          </div>
        </form>
      </div>
    </section>

    <!-- footer -->

    <section class="footer">
      <p class="text">
        Design & Developed By
        <a
          href="https://www.vuiron.com/"
          style="text-decoration: none; color: rgb(230, 182, 26)"
          >Vuiron</a
        >(For Help Contact Prakhyat Jha
        <a
          href="https://api.whatsapp.com/send?phone=917024093220&text=Got%20reference%20from%20your%20*CancerHospitalWebsite*.%20I%20want%20to%20know%20more%20about%20your%20services."
          style="text-decoration: none"
          >7024093220</a
        >)
      </p>
    </section>
  </body>
</html>
